@media (max-width: 1250px)

	.container
		max-width: 1000px

	.service_technology
		grid-template-columns: repeat(2, 370px)
		justify-content: center

	.about_persons
		grid-template-columns: repeat(2, 270px)
		justify-content: center
		gap: 40px 75px

@media (max-width: 1050px)
	.container
		max-width: 800px

	.main_info-title
		font-size: 44px
		line-height: 66px

	.main_info-tools--btn
		height: 45px

	.blog_info
		img
			width: 30%

	.subscribe_text
		font-size: 14px

	.subscribe_form-input
		width: 750px

	.footer_top
		flex-direction: column-reverse
		gap: 25px

	.footer_top-info--contacts
		display: flex
		gap: 25px

@media (max-width: 850px)
	.container
		max-width: 600px

	.header-ul
		display: none

	.burger-menu
		display: grid

	.header
		.burger-ul
			flex-direction: column
			gap: 25px

		.header-ul--li
			font-size: 20px

	.main-img
		width: 45%

	.main_info-text
		font-size: 14px

	.main_info-tools
		gap: 20px

	.service_technology
		grid-template-columns: 1fr

	.service_technology-item--text
		text-align: center

	.about_persons
		gap: 40px

	.blog_info-item--text
		font-size: 15px

	.subscribe_form-input
		width: 550px

	.footer_top-list
		gap: 20px

	.footer_top-list--item--ul--li
		font-size: 15px
		line-height: 36px
	.footer_top-info--contacts
		gap: 40px

	.footer_top-info--contacts--socials
		gap: 55px
		justify-content: center
